version: '3.8'

services:
  serp-api:
    image: serp-2ponto:latest
    build: .
    networks:
      - network_public
    environment:
      - NODE_ENV=production
      - PORT=3010
      # Descomente e configure a API key do CapMonster se quiser
      # - CAPMONSTER_API_KEY=sua_api_key_aqui
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        order: start-first
        delay: 2s
      rollback_config:
        order: stop-first
      labels:
        - traefik.enable=true
        - traefik.docker.network=network_public
        - traefik.http.routers.serp-api.rule=Host(`serp.textopro.com.br`)
        - traefik.http.routers.serp-api.entrypoints=websecure
        - traefik.http.routers.serp-api.tls.certresolver=letsencryptresolver
        - traefik.http.services.serp-api.loadbalancer.server.port=3010

networks:
  network_public:
    external: true
