version: '3.8'

services:
  serp-api:
    image: serp-2ponto:latest
    build: .
    networks:
      - network_public
    environment:
      - NODE_ENV=production
      - PORT=3010
      - ADMIN_KEY=${ADMIN_KEY:-e2fc9813d8741e3ce1fc09b100f52442}
      - CAPMONSTER_API_KEY=${CAPMONSTER_API_KEY:-}
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        order: start-first
        delay: 2s
      rollback_config:
        order: stop-first
      labels:
        - traefik.enable=true
        - traefik.docker.network=network_public
        - traefik.http.routers.serp-api.rule=Host(`serp.clemes.dev`)
        - traefik.http.routers.serp-api.entrypoints=websecure
        - traefik.http.routers.serp-api.tls.certresolver=letsencryptresolver
        - traefik.http.services.serp-api.loadbalancer.server.port=3010

networks:
  network_public:
    external: true
